    <!--Script Section -->
    <script src='/jquery/dist/jquery.min.js'></script>
    <script src='/bootstrap/dist/js/bootstrap.min.js'></script>
</body>
</html>
<footer>
    <nav class="navbar fixed-bottom bg-body-tertiary">
        <div class="container-fluid justify-content-center">
            <h6 class="display-12 navbar-text"> &copy; sumu's copyright 2023. All rights reserved.</h6>
        </div>
    </nav>
</footer>
