<%- include partials/header.ejs %>

<%- include partials/top_nav.ejs %>


<main class="l-main">
    <section class="about me">
      <div class="container">
        <div class="about-content">
          <h1> About Me </h1>
          <p>Hello there! I'm Sumaiya Parveen, a passionate and motivated coding fresher ready to embark on an exciting journey in the world of software development. I recently completed my Bachelor's degree in Applied Sciences specialized in Bioinformatics from Reva University from Bengaluru, India.


            What excites me most about coding is its limitless potential to create innovative solutions and make a positive impact. I thrive in collaborative environments and enjoy working as part of a team to brainstorm ideas, troubleshoot issues, and deliver high-quality software products.
            
            In addition to my technical skills, I posses the qualities to work in a team and also good leader. I believe effective communication is key to understanding user requirements and collaborating with team members.
            
            While I may be a fresher, I have a genuine passion for continuous learning and self-improvement. I stay up to date with the latest industry trends and technologies by exploring online resources.I am eager to embrace new frameworks, tools, and methodologies that can enhance my coding powers.
            
            I am confident in my ability to adapt quickly, learn new technologies, and contribute effectively to the development process. I am open to internships, apprenticeships, or entry-level positions that offer a platform to learn and grow as a professional.
            
            Thank you for joining me in my journey. I am excited about the possibility of collaborating with experienced developers, contributing to meaningful projects, and making a positive impact in the world of coding.</p>
        </div>
        <div class="home-img">
          <img src="/images/aboutme-img.jpg" alt="">
        </div>
        <a href="/resume/Resume.pdf" class="about-resume-btn" target="_blank" >See my Resume</a>
      </div>
    </section>
  </main>

 

<%- include partials/footer.ejs %>