
<%- include partials/header.ejs %>
  
<%- include partials/top_nav.ejs %>

<main class="l-main">
  <section class="home">
    <div class="container">
      <div class="home-content">
        <h1> Sumaiya Parveen </h1>
        <p>Welcome to my page</p>
      </div>
      <div class="home-img">
        <img src="/images/home-img.png" alt="">
        <a href="/about">About Me</a>
      </div>
    </div>
  </section>
</main>
    
    

<%- include partials/footer.ejs %>
