<%- include partials/header.ejs %>

<%- include partials/top_nav.ejs %>


<main class="l-main">
    <section class="projects">
      <div class="container">
        <div class="projects-content">
          <h1> Projects </h1>
          <p>Here are a few projects i have done so far:</p>
        </div>

        <div class="projects-container-3">
            <div class="project-container">

                <div class="project-img">
                  <img src="images\project1-img.png" alt="">
                </div>

                <div class="project-description">
                    <h1 class="project-title">Project 1</h1>
                    <h2 class="project-name">Bioactive Properties of Quinoline based derived as potential Drug targets for Malaria 
                    </h2>
                    <p class="project-subtitle">This project focuses on  the study of modelling and thus evaluating the target protein( Pf3D7) to predict the active sites amino acids in it.
Finally to observe the protein-ligand interaction and virtual screening to understand how strong the drug can bind to target protein and thus inhibit the function of protein present.
                      </p>
                </div>
            </div>

            <!-- project 2-->
            <div class="project-container">

                <div class="project-img">
                  <img src="images\project2-img.png" alt="">
                </div>

                <div class="project-description">
                    <h1 class="project-title">Project 2</h1>
                    <h2 class="project-name">THE AWESOME CAFÉ</h2>
                    <p class="project-subtitle">The awesome café POS allows customers to place orders. Every order detail will be stored in Database: specifically, the payment details of an order, with a specific InvoiceId, will be stored in the table POS_Invoices; and the list items of this order will be stored in the table POS_Orders. All of the business logic will be executed in the backend. So whenever events of an order are triggered (e.g. add an item, remove an item or remove all items),  DLM actions will be executed and then update the payment details in the back-end before returning the updated data to the front-end.</p>
                </div>
            </div>
        </div>
        <!-- project 3-->
        <div class="project-container">

          <div class="project-img">
            <img src="images\project3-img.png" alt="">
          </div>

          <div class="project-description">
              <h1 class="project-title">Project 3</h1>
              <h2 class="project-name">Toronto Housing Management System</h2>
              <p class="project-subtitle">Owners need to manage and monitor their property and for tenants to help manage the 
                rent, cleaning schedule, and requests to the owner. So, the system we propose will offer a 
                solution to both owners and tenants to smoothly manage matters of payment and other 
                important responsibilities that arise when living in a rental property.
                </p>
          </div>
      </div>
  </div>

      </div>
    </section>
  </main>

 

<%- include partials/footer.ejs %>