 body {
  background-color:beige ;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

/* NAV -BAR*/
.nav-img-w {
  width: 100px;
}

.nav-bg-color {
  background-color: #fff!important;
}

.navbar-brand > i{
  color: #070303;
    padding-right: 0.25rem;
    font-size: 0.75em;
}
/* Utilities */
a {
  color: #00B7FF;
}

.l-main {
  max-width: 1024px;
  width: 100%;
  margin: auto;
}

section {
  width: 100%;
  padding: 2rem 1rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  display: flex;
    flex-direction: column;
    align-items: center;
}

/* HOME */
.home-content {
  text-align: center;
  padding-bottom: 1rem;
}

.home-content > h1 {
  font-size: 3rem;
}

.home-content > p {
  font-size: 1.5rem;
  margin-top: 1rem;
}

.home-img {
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-img > img {
  width: 100%;
}

.home-img > a,
.about-resume-btn {
  padding: 1rem 2rem;
  background-color: transparent;
  border-radius: 10px;
  text-decoration: none;
  font-size: 0.75rem;
  color: #000;
  border: 2px solid #000;
  margin-top: 1rem;
}

.l-main.container > mb-3 {
  padding: 1rem 2rem;
  background-color: transparent;
  border-radius: 10px;
  text-decoration: none;
  font-size: 0.75rem;
  color: #000;
  border: 2px solid #000;
  margin-top: 1rem;
}
.home-img > a:hover {
  background-color: #00B7FF;
  border: 2px solid #00B7FF;
  color: #fff;
}

/* ABOUT ME */
.about-content {
  text-align: center;
  
}



/* PROJECTS */

.projects-content {
  width: auto;
  text-align: center;
  padding-bottom: 2rem;
}

.projects-content > h1 {
  font-size: 3rem;
}

.projects-content > p {
  font-size: 1.5rem;
    margin-top: 1rem;
}

.projects-container-3 {
  width: 100%;
}

.project-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  background-color: grey;
  border-radius: 20px;
  height: 526px;
  margin-bottom: 2rem;
  color: #fff;
}

.project-img {
  width: 100%;
  margin: auto;
  padding: 0 2rem;
}

.project-img > img {
  width: 100%;
}

.project-description {
  padding-right: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 1rem;
}
.project-title {
  font-size: 3rem;
}

.project-name {
  font-size: 1.75rem;
}

.project-subtitle {
  font-size: 1rem;
}

/* SERVICES */
.services-detail {
  width: 100%;
  display: grid;
  column-gap: 0.5rem;
  grid-template-columns: 1fr 1fr 1fr;
}

.services-card {
  border: 2px solid #000;
  border-radius: 20px;
  padding: 1rem;
}

.service-title {
  border-bottom: 1px solid #000;
  padding-bottom: 0.5rem;
  font-size: 2rem;
}

.skills-container {
  padding-top: 0.5rem;
}

.skill-detail {
  display: flex;
  column-gap: 1rem;
}

.skill-detail > i {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.5rem;
}

.skill-title {
  font-size: 1.25rem;
}

